.link {
  color: blue;
}
.link.active {
  background-color: red;
  color: white;
}
body {
  background-color: black;
}
title,
h1,
a,
p,
div {
  color: white;
}
.title{
  width: 1200px;
}
.box {
  box-sizing: border-box;
  display: inline-block;

  background-color: blue;  
  width: 280px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;

  vertical-align: top;/*căn dòng từ trên xuống*/
}
